body {
	background-color:rgb(38,48,55)
}

#posts {
	position: fixed; top:50px; 
	color: #FFFFFF;
	font-size: 30px;
}

#post-container {
	/* Available to contain each post */
}

#header {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(24, 170, 255);
    position: absolute;
    top: 0;
    left: 0;

  }

#home{
  position: fixed; left: 3%; top: 0.5%;
}

#search [type=text]{
  margin: 8px 300px;
  width: 600px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  }

#newtweet{
  position: fixed; left: 83%; top: 0.5%;
}

#sendmsg{
  position: fixed; left: 86.5%; top: 0.5%;
}

#settings{
  position: fixed; left: 90.25%; top: 0.5%;
}

#logout{
  position: fixed; left: 94.25%; top: 0.5%;
}
