body {
	background-color:rgb(38,48,55)
}

#posts {
	position: fixed; top:50px; 
	color: #FFFFFF;
	font-size: 30px;
}

#post-container {
	/* Available to contain each post */
}

.tweet-wrap {
  max-width:490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius:3px;
  padding: 30px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
  align-items:left;
  overflow: auto;
}

.tweet-header {
  display: 500px;
  align-items:left;
  font-size:14px;
  
}
.tweet-header-info {
  font-weight:bold;
  
}
.tweet-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight:normal;
  margin-top: 5px;
  
}

#header {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(24, 170, 255);
    position: absolute;
    top: 0;
    left: 0;

  }

#home{
  position: fixed; left: 3%; top: 0.5%;
}

#search [type=text]{
  margin: 8px 300px;
  width: 600px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  }

#newtweet{
  position: fixed; left: 83%; top: 0.5%;
}

#sendmsg{
  position: fixed; left: 86.5%; top: 0.5%;
}

#settings{
  position: fixed; left: 90.25%; top: 0.5%;
}

#logout{
  position: fixed; left: 94.25%; top: 0.5%;
}
