{% extends "base.html" %}
   
    {% block title %} - Delete Account {% endblock %}

    {% block mycontent %}
    <link rel="stylesheet" href="static/global.css">
    <div class="form-container">
    	<form action="" method="POST" novalidate>
        	<div class="symbol"></div>
       		<div>
            	<img src="../static/Twitter_black.png" alt="">
        	</div>
        	<ul class="list">
                {{form.hidden_tag()}}
                <li><h2>Please enter the password to delete account</h2></li>
                <li>{{form.password.label}} <br></li>
                <li>{{form.password()}} <br></li>
                <li>{{form.submit()}} <br></li>
            </ul>
        </form>
    </div>
    {% endblock %}