{% extends "base.html" %}
   
    {% block title %} - Delete Account {% endblock %}

    {% block mycontent %}
    <link rel="stylesheet" href="static/global.css">
    <div class="form-container">
    	<form action="" method="POST" novalidate>
        	<div class="symbol">
                <a href="/home"><img src="../static/Twitter_black.png" width = "160" height = "100"></a>
            </div>
        	<ul class="list">
                {{form.hidden_tag()}}
                <li>Please enter the password to delete account<br></li>
                <li>{{form.password.label}} <br></li>
                <li>{{form.password()}} <br></li>
                <button class="button" type="submit">Delete Account</button>
            </ul>
        </form>
    </div>
    {% endblock %}