{% extends "base.html" %}
    {% block title %} - Home{% endblock %}

    {% block mycontent %}
    <div id="header">
      <link rel="stylesheet" href="static/header.css">
      
      <div id='home'>
        <a href="/home"><img src="../static/twitter.png" width = "50" height = "50"></a>
      </div>  

      <form method="POST" action="{{ url_for('search') }}">
      {{ form.hidden_tag() }}
      	<div id='search'>
        	<input type="text" placeholder="Search", name='searched'>
      	</div>

      	<div id='searchbutton'>
			    <button type="submit" class="button"><img src="../static/search.png" width = "36" height = "37"></button>
      	</div>
      </form>
      
      <div id='newtweet'>
        <a href="/post"><img src="../static/newtweet.png" width = "50" height = "50"></a>
      </div>

      <div id='sendmsg'>
        <a href="/messages"><img src="../static/sendmsg.png" width = "50" height = "50"></a>
      </div>

      <div id='settings'>
        <a href="/settings"><img src="../static/settings.png" width = "50" height = "50"></a>
      </div>
        
      <div id='logout'>
        <a href="/logout"><img src="../static/logout.png" width = "50" height = "50"></a>
      </div>
        
    </div>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<div id="tweet-wrap">
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>
    {% for Post in posts %}
    <div id="tweet-wrap">
      <span>{{ Post.username }}</span><br><a>{{Post.timestamp.date()}}</a>
      {% if Post.reposted_from %}
      	<a>Reposted from: {{Post.reposted_from}}</a>
      {% endif %}
      {% if Post.image %}
      	<p><img src={{ Post.image }} style="maxwidth:200px;height:200px;"></p>
      {% endif %}
      <p>{{ Post.body }}<br></p>
      <div id='like'>
        <a href="/like/{{post.id}}"><img src="../static/like.png" width = "50" height = "50"></a>
      </div>
      <form method="POST" action="{{ url_for('repost') }}">
      	<input type="hidden" value={{Post.id}} name="post">
      	{{form.hidden_tag()}}
        <button class="FollowButton" type="submit">Repost</button>
      </form>
    </div>
    {% endfor %}
    {% endblock %}
