{% extends "base.html" %}
    {% block title %} - Login{% endblock %}

    {% block mycontent %}
    <div id="header">
      <link rel="stylesheet" href="static/header.css">
      
      <div id='home'>
        <a href="/home"><img src="../static/twitter.png" width = "50" height = "50"></a>
      </div>  
      
      <div id='search'>
        <input type="text" placeholder="Search">
      </div>
          
      <div id='newtweet'>
        <a href="/newtweet"><img src="../static/newtweet.png" width = "50" height = "50"></a>
      </div>

      <div id='sendmsg'>
        <a href="/sendmsg"><img src="../static/sendmsg.png" width = "50" height = "50"></a>
      </div>

      <div id='settings'>
        <a href="/settings"><img src="../static/settings.png" width = "50" height = "50"></a>
      </div>
        
      <div id='logout'>
        <a href=""><img src="../static/logout.jpeg" width = "50" height = "50"></a>
      </div>
        
    </div>
    {% endblock %}
