<!DOCTYPE html>
<html>
    <head>
        <title> Login Page </title>
        <link rel="stylesheet" type="text/css" href="global.css">
    </head>

    <body>
        <div class="form-container">
            <div class="symbol"></div>
            <ul class="list">
                <li><h2>Sign in to To-eater</h2></li>
                <li><input type="text" name="User Name" placeholder="Username"></li>
                <li><input type="password" name="Password" placeholder="Password"></li>
                <li><input type="button" name="Sign In" value="Sign In"></li>
                <li><input type="button" name="Sign Up" value="Sign Up"></li>
                <li>Forgot Password?</li>
            </ul>
        </div>
        
    </body>
</html>