{% extends "base.html" %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/global.css">
    </head>

    {% block title %} - Login{% endblock %}

    {% block mycontent %}
    <div class="form-container">
        <form action="" method="POST" novalidate>
            <div class="symbol"></div>
            <div>
                <img src="../static/twitter.png" alt="">
            </div>
            <ul class="list">
                {{form.hidden_tag()}}
                <li><h2>Sign in to To-eater</h2></li>
                <li>{{form.username.label}} <br></li>
                <li>{{form.username()}} <br></li>
                <li>{{form.password.label}} <br></li>
                <li>{{form.password()}} <br></li>
                <li>{{form.remember_me.label}} <br></li>
                <li>{{form.remember_me()}} <br></li>
                <li>{{form.submit()}} <br></li>
            </ul>
        </form>
    </div>
    {% endblock %}
</html>
