{% extends "base.html" %}

	{% block title %} - Messages{% endblock %}

{% block mycontent %}
<link rel="stylesheet" href="static/global.css">
<div class="form-container">
	<div>
		<a href="/home"><img src="../static/Twitter_black.png" alt=""></a>
	</div>
	<ul class="list">
		<li><a href='/follower-requests'>Check Follower Requests</a></li>
		<li><a href='/send-message'>Send a new message</a></li>
		{% for m in messages %}
			<p style="font-weight: bold;">{{m.sender_username}} says: </p><br>
			<p>{{m.body}}</p>
		{% endfor %}
		{% with messages = get_flashed_messages() %}
 			 {% if messages %}
   				 <ul class=flashes>
   					 {% for message in messages %}
     					 <li>{{ message }}</li>
    				{%endfor %}
    			</ul>
  			{% endif %}
		{% endwith %}
	</ul>
</div>
{% endblock %}
