{% extends 'base.html' %}

{% block title %} - Follower Requests{% endblock %}

{% block mycontent %}
<link rel="stylesheet" href="static/global.css">
<div class="form-container">
	<div class="symbol"></div>
	<div>
		<a href="/home"><img src="../static/Twitter_black.png" alt=""><br></a>
	</div>
	<ul class = "list">
		<li><h2>Follower requests!</h2><br></li>
		{% for u in users %}
			<li><p>{{ u.username }} </p></li>
			<form action="" method="POST">
				<li><input id="username" name="username" type="hidden" value={{ u.id }}></li>
				{{ form.hidden_tag() }}
				<li><button type="submit">Accept</button></li>
			</form>
		{% endfor %}
	</ul>
</div>
{% endblock %}
