{% extends 'base.html' %}

{% block title %} - Search{% endblock %}

{% block mycontent %}
<link rel="stylesheet" href="static/global.css">
<div class="form-container">
	<ul class="list">
		<h2>You searched: {{ searched }}</h2>
		{% for u in users %}
			<form method="POST" action="{{url_for('follow') }}">
				{{ form.hidden_tag() }}
				<p>{{ u.username }}</p>
				<input type="hidden" value={{ u.id }} name="username">
				<button type="submit">Follow</button>
			</form>
		{% endfor %}
	</ul>
</div>
{% endblock %}
