{% extends "base.html" %}

{% block title %} - Sign Up{% endblock %}

{% block mycontent %}
<link rel="stylesheet" href="static/global.css">
<div class="form-container">
	<form action="" method="POST" novalidate>
		<div class="symbol">
			<a><img src="../static/Twitter_black.png" width = "160" height = "100"></a>
		</div>
		<ul class="list">
			{{form.hidden_tag()}}
			<li><h2>Sign up to To-eater</h2></li>
			<li>{{form.username.label}} <br></li> 
			<li>{{form.username()}} <br></li>
			<li>{{form.password.label}} <br></li> 
			<li>{{form.password()}} <br></li>
			<button class="button" type="submit">Sign Up</button>
			
		</ul>
	</form>
</div>
{% endblock %}
